body, html {
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  line-height: 1.4;
  color: #001441;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

a {
  text-decoration: none;
  color: #001441; }

h1 {
  font-size: 7rem;
  margin: 0;
  font-family: sans-serif;
  font-family: 'Oswald', sans-serif;
  font-weight: 900; }

h3 {
  font-size: 2rem;
  margin: 0;
  font-family: 'Oswald', sans-serif;
  font-weight: 300; }

h4 {
  font-weight: 700;
  font-size: 1.2rem; }

p {
  margin: 0;
  font-size: 1rem; }

.jumbo {
  position: absolute;
  z-index: -2; }

.jumboText {
  height: 100vh;
  display: flex;
  align-items: center; }

.jumbo__image {
  width: 110vw;
  margin-left: -5vw;
  /*position: absolute;*/
  margin-top: -5vh; }

.jumbo_imageW {
  position: relative;
  width: 100vw; }

.jumbo_png {
  position: absolute;
  top: 5%;
  left: -5vw;
  width: 110vw;
  z-index: 3; }

.jumbo_textWrap {
  position: absolute;
  top: 30vh;
  left: 5vw;
  z-index: 2;
  mix-blend-mode: hard-light; }
  .jumbo_textWrap h1 {
    color: #3b4449; }

.jumboText_adv {
  color: #c4dfee; }

.headerMenu {
  position: fixed;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 10;
  padding: 0.5rem 2rem;
  color: white;
  transition: 0.3s; }
  .headerMenu a {
    color: white; }
  .headerMenu .headerMenu_topRow {
    border-bottom: 1px solid rgba(196, 223, 238, 0.3);
    padding: 0.5rem 0;
    font-size: 0.8rem; }
    .headerMenu .headerMenu_topRow a {
      margin: 0 1rem; }
  .headerMenu .headerMenu_botRow {
    padding: 1rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .headerMenu .headerMenu_botRow a {
      margin: 0 1rem;
      font-weight: 500; }
  .headerMenu .headerMenu_menuLink {
    margin-right: 1rem; }

.VAcenter {
  display: flex;
  align-items: center; }

.fRight {
  float: right; }

.logoHeader {
  height: 2.5rem;
  width: auto;
  margin-right: 1rem; }

.headerScroll {
  background-color: #c4dfee;
  transition: 0.3s;
  color: #001441; }
  .headerScroll a {
    color: #001441; }
  .headerScroll .logoHeaderBlack {
    opacity: 1;
    transition: 0.3s; }

.headerMenu_bot_right {
  position: relative; }

.logoHeaderBlack {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: 0.3s; }

.jumboText_description {
  color: #c4dfee; }

.mt1 {
  margin-top: 1rem; }
