body, html {
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  line-height: 1.4;
  color: #001441;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

a {
  text-decoration: none;
  color: #001441; }

h1 {
  font-size: 7rem;
  margin: 0;
  font-family: sans-serif;
  font-family: 'Oswald', sans-serif;
  font-weight: 900; }

h3 {
  font-size: 2rem;
  margin: 0;
  font-family: 'Oswald', sans-serif;
  font-weight: 300; }

h4 {
  font-weight: 700;
  font-size: 1.2rem;
  margin-top: 0; }

h5 {
  font-size: 1rem;
  font-weight: 700; }

p {
  margin: 0;
  font-size: 1rem;
  line-height: 1.7; }

ul {
  line-height: 1.7; }
  ul li {
    margin: 0.5rem 0; }

.boldText {
  font-weight: 700; }

.jumbo {
  position: absolute;
  z-index: -2;
  overflow: hidden; }

.jumboText {
  height: 100vh;
  display: flex;
  align-items: center; }

.jumbo__image {
  width: 110vw;
  margin-left: -5vw;
  /*position: absolute;*/
  margin-top: -5vh; }

.jumbo_imageW {
  position: relative;
  width: 100vw; }

.jumbo__logo {
  width: 25vw;
  height: auto;
  position: absolute;
  z-index: 2;
  top: 25%;
  left: 45%;
  opacity: 0.3; }

.jumbo_png {
  position: absolute;
  top: 5%;
  left: -5vw;
  width: 110vw;
  z-index: 3; }

.jumbo_textWrap {
  position: absolute;
  top: 30vh;
  left: 5vw;
  z-index: 2;
  mix-blend-mode: hard-light; }
  .jumbo_textWrap h1 {
    color: #3b4449; }

.jumboText_adv {
  color: #c4dfee; }

.headerMenu {
  position: fixed;
  width: 100vw;
  top: calc(-100% + 8rem);
  left: 0;
  z-index: 10;
  padding: 0.5rem 2rem;
  color: white;
  transition: 0.3s;
  height: 100vh;
  display: flex;
  flex-direction: column-reverse;
  transition: 0.3s; }
  .headerMenu.headerMenu__activated {
    background-color: #fff;
    transition: 0.3s;
    top: 0; }
  .headerMenu a {
    color: white; }
  .headerMenu .headerMenu_topRow {
    border-bottom: 1px solid rgba(196, 223, 238, 0.3);
    padding: 0.5rem 0;
    font-size: 0.8rem;
    display: flex;
    justify-content: space-between; }
    .headerMenu .headerMenu_topRow a {
      margin: 0 1rem; }
  .headerMenu .headerMenu_botRow {
    padding: 1rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .headerMenu .headerMenu_botRow a {
      margin: 0 1rem;
      font-weight: 500; }
  .headerMenu .headerMenu_menuLink {
    cursor: pointer;
    padding: 1rem; }
    .headerMenu .headerMenu_menuLink:hover {
      color: #c4dfee; }

.VAcenter {
  display: flex;
  align-items: center; }

.fRight {
  float: right; }

.logoHeader {
  height: 2.5rem;
  width: auto;
  margin-right: 1rem; }

.headerScroll {
  background-color: #fff;
  transition: 0.3s;
  color: #001441;
  -webkit-box-shadow: 0px 14px 108px -16px rgba(0, 59, 87, 0.2);
  -moz-box-shadow: 0px 14px 108px -16px rgba(0, 59, 87, 0.2);
  box-shadow: 0px 14px 108px -16px rgba(0, 59, 87, 0.2); }
  .headerScroll a {
    color: #001441; }
  .headerScroll .logoHeaderBlack {
    opacity: 1;
    transition: 0.3s; }

.headerMenu_bot_right {
  position: relative; }

.logoHeaderBlack {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: 0.3s; }

.jumboText_description {
  color: #c4dfee; }

.mt1 {
  margin-top: 1rem; }

.aboutCompany_map {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  z-index: -1;
  opacity: 0.7; }

.relative {
  position: relative; }

.aboutCompany_wrap {
  padding: 2rem 0; }

.aboutCompanyGhost {
  color: #001441;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  font-size: 13rem;
  margin: 0;
  line-height: 1;
  text-align: center; }

.infoBlock {
  margin-bottom: 9rem; }
  .infoBlock:last-of-type {
    margin-bottom: 0; }

.infoBlock_last {
  padding-bottom: 3rem; }

.services_card {
  background-color: #c4dfee;
  height: 15rem;
  margin-bottom: 1.8rem;
  border-radius: 0.5rem;
  transition: 0.3s;
  position: relative; }
  .services_card:hover {
    transform: scale(1.05);
    transition: 0.3s; }
  .services_card h4 {
    color: #fff;
    position: absolute;
    left: 2.5rem;
    bottom: 0rem; }

.services_about {
  background-image: url(../img/aboutBG2.jpg);
  background-size: cover; }

.services_service {
  background-image: url(../img/servicesCardBG2.jpg);
  background-size: cover; }

.ghost {
  position: absolute;
  filter: blur(30px);
  opacity: 0.2;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  transition: 0.3s; }

.relative:hover .ghost {
  opacity: 0.6;
  transition: 0.3s;
  filter: blur(40px); }

.services_yellow {
  background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
  background-image: url(../img/testomCardBg.jpg);
  background-size: cover; }

.services_purple {
  background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
  background-image: url(../img/contactsCardBG.jpg);
  background-size: cover; }

.services_blue {
  background-image: linear-gradient(to top, #48c6ef 0%, #6f86d6 100%);
  background-image: url(../img/depCardBg.jpg);
  background-size: cover; }

.services_dark {
  background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
  background-image: url(../img/stockCardBG.jpg);
  background-size: cover; }

.howBecomeClient {
  position: relative; }
  .howBecomeClient p {
    font-size: 0.8rem; }
  .howBecomeClient h5 {
    margin: 0.5rem 0; }

.howBecomeClient_bubble {
  width: 80%;
  display: flex;
  flex-direction: row;
  position: relative;
  padding: 1rem 1.5rem 2rem 1.5rem;
  margin-bottom: 4rem;
  border-radius: 1.5rem;
  background-color: #fff;
  -webkit-box-shadow: 0px 14px 108px -16px rgba(0, 59, 87, 0.4);
  -moz-box-shadow: 0px 14px 108px -16px rgba(0, 59, 87, 0.4);
  box-shadow: 0px 14px 108px -16px rgba(0, 59, 87, 0.4);
  align-items: flex-start; }
  .howBecomeClient_bubble:after {
    position: absolute;
    content: "";
    height: 30px;
    width: 30px;
    left: 2rem;
    bottom: -29px;
    background-color: #fff;
    -webkit-clip-path: polygon(100% 0, 0 0, 50% 60%);
    clip-path: polygon(100% 0, 0 0, 50% 60%); }
  .howBecomeClient_bubble:nth-child(even) {
    float: right; }
    .howBecomeClient_bubble:nth-child(even):after {
      left: auto;
      right: 2rem; }

.howBecomeClient_bubbleNumber {
  background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
  color: white;
  text-align: center;
  height: 1.5rem;
  border-radius: 10rem;
  width: 1.5rem;
  display: flex;
  align-items: center;
  margin-top: 0.3rem;
  justify-content: center;
  margin-right: 1rem; }

.howBecomeClient_ghostNumber {
  position: absolute;
  color: #001441;
  opacity: 0.1;
  top: -30%;
  left: 5%; }

.howBecomeClientMan {
  position: absolute;
  bottom: 0;
  right: 0;
  max-height: 100%;
  z-index: -1; }

footer {
  padding: 15px 0;
  background-color: #000A1C;
  color: #ccc;
  overflow: hidden; }

.bottomLinks {
  display: flex;
  flex-grow: 4;
  justify-content: space-between;
  max-width: 600px;
  margin-right: 40px;
  align-items: center; }

.bottomLinks a {
  font-weight: 900;
  font-family: 'Roboto', sans-serif;
  color: #ccc;
  font-size: 14px; }

.bottomLinks a:hover {
  color: white; }

.bottomFooterLayout {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
  border-bottom: 1px solid #52555b;
  position: relative;
  z-index: 5; }

@media only screen and (max-width: 700px) {
  .bottomLinks {
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start; }
  .social {
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-end; } }

.copyryght {
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 5; }

.copyryght span {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 13px;
  color: #ccc;
  display: inline-block;
  margin: 15px 0; }

@media only screen and (max-width: 1000px) {
  .copyryght {
    display: block; } }

.footerSecondRow {
  position: relative; }

.ghostFooterLogo {
  position: absolute;
  bottom: -60px;
  right: -10px;
  opacity: 0.1; }

.social {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-size: 0;
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  max-width: 200px; }

.social li {
  display: inline-block;
  margin-right: 6px;
  font-size: 14px; }

.social li a i {
  -webkit-transition: all .2s;
  transition: all .2s;
  color: #52555b; }

.social li a i:hover {
  color: white; }

.owl-carousel h4 {
  margin: 0; }

.firboNews_wrap {
  -webkit-box-shadow: 0px 14px 108px -16px rgba(0, 59, 87, 0.1);
  -moz-box-shadow: 0px 14px 108px -16px rgba(0, 59, 87, 0.1);
  box-shadow: 0px 14px 108px -16px rgba(0, 59, 87, 0.1);
  border: 1px solid #eee; }

.firboNews_h1 {
  margin: 0; }

.firboNews_date {
  font-size: 0.8rem; }

.tCenter {
  text-align: center; }

.firboNews_row {
  padding: 1rem 2rem;
  border-bottom: 1px solid #eee;
  transition: 0.3s; }
  .firboNews_row:hover {
    background-color: #eee;
    transform: scale(1.02);
    transition: 0.3s; }

.firboNews_row__undoaded {
  filter: blur(4px);
  position: relative; }

.firbonews_table {
  padding-left: 0;
  position: relative; }

.preloaderWrap {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }

.lds-ripple {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px; }

.lds-ripple div {
  position: absolute;
  border: 4px solid #001441;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite; }

.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s; }

@keyframes lds-ripple {
  0% {
    top: 28px;
    left: 28px;
    width: 0;
    height: 0;
    opacity: 1; }
  100% {
    top: -1px;
    left: -1px;
    width: 58px;
    height: 58px;
    opacity: 0; } }

.firboNews .row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.firboNews .row > [class*='col-'] {
  display: flex;
  flex-direction: column; }

.firboNews_ad {
  background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
  background-image: url(../img/newsBG.jpg);
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center; }

.newsLogo {
  width: 70%; }

.firboNews_adDesc {
  color: #fff;
  text-align: center; }

.headerMenu_homeLink {
  margin: 0 !important; }

.aboutAdvBubble {
  text-align: justify;
  padding: 0.1rem 1.5rem 2rem 1.5rem;
  margin-top: 2rem; }
  .aboutAdvBubble p {
    font-size: 0.8rem; }

.hasShadow {
  -webkit-box-shadow: 0px 14px 108px -16px rgba(0, 59, 87, 0.2);
  -moz-box-shadow: 0px 14px 108px -16px rgba(0, 59, 87, 0.2);
  box-shadow: 0px 14px 108px -16px rgba(0, 59, 87, 0.2); }

.aboutAdvBubble_row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 2rem 0; }

.aboutAdvBubble_row > [class*='col-'] {
  display: flex;
  flex-direction: column; }

.aboutFullFirst {
  background: url(../img/servicesBG.jpg);
  color: white; }
  .aboutFullFirst i {
    color: #E81B00; }

.aboutFull {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  padding: 8rem 0;
  text-align: center; }

.note {
  padding: 3rem;
  border: 1rem solid #c4dfee;
  margin-top: 3rem; }

.aboutFirboSlide {
  height: 100vh; }
  .aboutFirboSlide h1 {
    line-height: 1; }
  .aboutFirboSlide .container {
    position: sticky;
    top: calc(50vh - 3rem); }
  .aboutFirboSlide .aboutFirboSlide_textWrap {
    position: relative; }
  .aboutFirboSlide .aboutFirboSlide_letterWrap {
    display: inline-block;
    position: relative; }
  .aboutFirboSlide .aboutFirboSlide_word {
    position: absolute;
    left: 0;
    top: 0;
    transition: 0.3s;
    opacity: 0; }
  .aboutFirboSlide .aboutFirboSlide_letter {
    transition: 0.3s;
    opacity: 0.05; }
  .aboutFirboSlide .aboutFirboSlide_capital {
    margin-left: 2rem;
    opacity: 0; }
  .aboutFirboSlide .aboutFirboSlide__visible {
    opacity: 1; }

.aboutHistoryFirst {
  text-align: center;
  padding: 5rem 3rem 7rem 3rem;
  border: 1rem solid #c4dfee; }

.aboutHistory_name {
  position: sticky;
  top: 13rem; }

.aboutHistory_dottedPattern {
  position: absolute;
  top: 0;
  left: 2rem;
  width: 70%;
  z-index: -1; }

.newServicesCarousel_block {
  display: flex;
  flex-direction: column-reverse;
  -webkit-box-shadow: 0px 14px 108px -16px rgba(0, 59, 87, 0.1);
  -moz-box-shadow: 0px 14px 108px -16px rgba(0, 59, 87, 0.1);
  box-shadow: 0px 14px 108px -16px rgba(0, 59, 87, 0.1);
  margin: 0 1rem;
  height: 15rem;
  min-width: 17rem;
  background-color: #fff;
  position: relative;
  transition: 0.1s; }
  .newServicesCarousel_block h4 {
    position: static;
    z-index: 3;
    padding: 1rem;
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(196, 223, 238, 0.48) 100%);
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(196, 223, 238, 0.48) 100%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(196, 223, 238, 0.48) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#7ac4dfee',GradientType=0 ); }
  .newServicesCarousel_block:hover {
    transform: scale(1.1);
    transition: 0.1s;
    -webkit-box-shadow: 0px 14px 108px -16px rgba(0, 59, 87, 0.2);
    -moz-box-shadow: 0px 14px 108px -16px rgba(0, 59, 87, 0.2);
    box-shadow: 0px 14px 108px -16px rgba(0, 59, 87, 0.2); }
    .newServicesCarousel_block:hover .newServicesCarousel_blockBG {
      opacity: 0.5;
      transition: 0.1s; }

.newServicesCarousel {
  position: relative;
  width: 100%;
  margin-top: -10rem; }

.newServicesCarousel_blockBG {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 2;
  opacity: 0.2;
  transition: 0.1s; }

.innerJumbo {
  padding-top: 9rem;
  color: white; }

.innerJumbo_introText {
  position: relative;
  padding: 2rem; }
  .innerJumbo_introText h2, .innerJumbo_introText p {
    position: relative;
    z-index: 2;
    margin: 0; }
  .innerJumbo_introText h2 {
    margin-bottom: 1rem; }

.borderedDiv {
  border: 10px solid white; }

.innerJumbo_servicesTypeSelector {
  display: flex;
  justify-content: center;
  border-top: 1px solid rgba(196, 223, 238, 0.3);
  margin-top: 4rem; }
  .innerJumbo_servicesTypeSelector h5 {
    margin: 1rem 1rem;
    opacity: 0.6;
    cursor: pointer; }
    .innerJumbo_servicesTypeSelector h5:hover {
      opacity: 0.9; }
  .innerJumbo_servicesTypeSelector .selected {
    position: relative; }
    .innerJumbo_servicesTypeSelector .selected h5 {
      opacity: 1; }
    .innerJumbo_servicesTypeSelector .selected:after {
      position: absolute;
      background-color: #fff;
      content: "";
      width: 100%;
      height: 3px;
      top: 0;
      left: 0; }

.innerJumbo_services {
  background-image: url(../img/contactsBG2.jpg);
  background-size: cover;
  background-position: center center;
  filter: hue-rotate(50deg);
  transition: 0.5s; }

.innerJumbo_services__corp {
  filter: hue-rotate(150deg);
  transition: 0.5s; }

.innerJumbo_contacts {
  background-image: url(../img/contactsBG2.jpg);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  padding-bottom: 8rem; }

.newServicesCarousel_blockBG__brok {
  background-image: url(../img/servicesCards/brok.jpg);
  background-size: cover; }

.newServicesCarousel_blockBG__uprKap {
  background-image: url(../img/servicesCards/uprKap.jpg);
  background-size: cover; }

.newServicesCarousel_blockBG__arenda {
  background-image: url(../img/servicesCards/arenda.jpg);
  background-size: cover; }

.newServicesCarousel_blockBG__depozit {
  background-image: url(../img/servicesCards/depozit.jpg);
  background-size: cover; }

.newServicesCarousel_blockBG__gold {
  background-image: url(../img/servicesCards/gold.jpg);
  background-size: cover; }

.newServicesCarousel_blockBG__buildings {
  background-image: url(../img/servicesCards/buildings.jpg);
  background-size: cover; }

.newServicesCarousel_blockBG__teach {
  background-image: url(../img/servicesCards/teach.jpg);
  background-size: cover; }

.newServicesCarousel_blockBG__dirInv {
  background-image: url(../img/servicesCards/dirInv.jpg);
  background-size: cover; }

.newServicesCarousel_blockBG__forex {
  background-image: url(../img/servicesCards/forex.jpg);
  background-size: cover; }

.newServicesCarousel_blockBG__accou {
  background-image: url(../img/servicesCards/accou.jpg);
  background-size: cover; }

.grayBlock {
  background-color: #f5f5f5; }

.newServicesCarousel .owl-stage-outer {
  padding: 3rem 0; }

.servicesBlock .row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.servicesBlock .row > [class*='col-'] {
  display: flex;
  flex-direction: column; }

.servicesBlock_description {
  padding: 3rem 0; }
  .servicesBlock_description p {
    font-size: 0.9rem;
    line-height: 1.6;
    margin-top: 0.6rem; }

.servicesBlock_image {
  background-size: cover;
  background-position: center center;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  transition: 0.3s;
  z-index: 1; }

.servicesBlock_item {
  margin: 4rem 0; }

.servicesBlock_imageWrap {
  position: relative; }
  .servicesBlock_imageWrap:hover .servicesBlock_image {
    transform: translate(-15px, -15px);
    -webkit-box-shadow: 0px 14px 108px -16px rgba(0, 59, 87, 0.2);
    -moz-box-shadow: 0px 14px 108px -16px rgba(0, 59, 87, 0.2);
    box-shadow: 0px 14px 108px -16px rgba(0, 59, 87, 0.2);
    transition: 0.3s; }
  .servicesBlock_imageWrap:hover .servicesBlock_imageDottedPattern {
    top: 15px;
    transition: 0.3s;
    left: 15px; }

.servicesBlock_imageDottedPattern {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  content: "";
  background-image: url(../img/mapDottedSquare.svg);
  background-repeat: repeat;
  background-size: 35px;
  z-index: -1;
  transition: 0.3s; }

.servicesBlock_types {
  display: flex;
  flex-wrap: wrap;
  font-size: 0.8rem;
  margin-top: 0.5rem; }

.servicesBlock_type {
  margin: 0.5rem 1rem 0.5rem 0;
  padding: 0.3rem 1rem;
  background-color: #eee;
  border-radius: 20px; }
  .servicesBlock_type i {
    margin-left: 0.5rem; }

.servicesBlock_image__brok {
  background-image: url(../img/servicesCards/brok.jpg); }

.servicesBlock_image__depozit {
  background-image: url(../img/servicesCards/depozit.jpg); }

.servicesBlock_image__investor {
  background-image: url(../img/servicesCards/investor.jpg); }

.servicesBlock_image__credit {
  background-image: url(../img/servicesCards/credit.jpg); }

.servicesBlock_image__individualServ {
  background-image: url(../img/servicesCards/individual.jpg); }

.servicesBlock_image__entityServ {
  background-image: url(../img/servicesCards/entity.jpg); }

.servicesBlock_image__building {
  background-image: url(../img/servicesCards/building.jpg);
  background-position: center bottom; }

.servicesBlock_image__startupServ {
  background-image: url(../img/servicesCards/startupServ.jpg); }

.servicesBlock_image__governmentServ {
  background-image: url(../img/servicesCards/governmentServ.jpg); }

.servicesBlock_image__accou {
  background-image: url(../img/servicesCards/accou.jpg); }

.servicesBlock_image__lawyerServ {
  background-image: url(../img/servicesCards/lawyerServ.jpg); }

.servicesBlock_image__consultServ {
  background-image: url(../img/servicesCards/consultServ.jpg); }

.servicesBlock_image__insuranceServ {
  background-image: url(../img/servicesCards/insuranceServ.jpg); }

.servicesBlock_image__conciergeServ {
  background-image: url(../img/servicesCards/conciergeServ.jpg); }

.servicesBlock_image__buildings {
  background-image: url(../img/servicesCards/buildings.jpg); }

.servicesBlock_image__charity {
  background-image: url(../img/servicesCards/charity.jpg); }

.contactWrap {
  display: flex;
  flex-wrap: wrap; }
  .contactWrap p {
    font-size: 0.8rem;
    line-height: 1.4; }
  .contactWrap h4 {
    margin-bottom: 0.5rem; }

.contact-card_image {
  height: 10rem;
  background-size: cover;
  background-position: center center;
  position: relative;
  overflow: hidden; }

.contact-card_pin {
  position: absolute;
  width: 2rem;
  top: -30%;
  right: calc(50% - 1.2rem);
  transform: rotate(-90deg);
  transition: 0.3s; }

.contact-card_description {
  padding: 1.5rem;
  position: relative; }

.contact-card_link {
  position: absolute;
  background: #001441;
  background: -moz-linear-gradient(-45deg, #001441 47%, #410051 100%);
  background: -webkit-linear-gradient(-45deg, #001441 47%, #410051 100%);
  background: linear-gradient(135deg, #001441 47%, #410051 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001441', endColorstr='#410051',GradientType=1 );
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  top: -1.5rem;
  right: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s; }
  .contact-card_link:hover {
    filter: hue-rotate(90deg);
    top: -2rem;
    transition: 0.2s; }
  .contact-card_link i {
    color: white; }

.contact-card {
  -webkit-box-shadow: 0px 14px 108px -16px rgba(0, 59, 87, 0.2);
  -moz-box-shadow: 0px 14px 108px -16px rgba(0, 59, 87, 0.2);
  box-shadow: 0px 14px 108px -16px rgba(0, 59, 87, 0.2);
  transition: 0.3s;
  margin-bottom: 3rem; }
  .contact-card:hover {
    transform: scale(1.1);
    transition: 0.3s;
    -webkit-box-shadow: 0px 14px 108px -16px rgba(0, 59, 87, 0.3);
    -moz-box-shadow: 0px 14px 108px -16px rgba(0, 59, 87, 0.3);
    box-shadow: 0px 14px 108px -16px rgba(0, 59, 87, 0.3); }
    .contact-card:hover .contact-card_pin {
      position: absolute;
      width: 2rem;
      top: 35%;
      right: calc(50% - 1.2rem);
      transform: rotate(-90deg);
      transition: 0.3s; }

.contact-card_row {
  display: flex; }
  .contact-card_row i {
    margin-right: 0.7rem; }

.contact-card_image__moscow {
  background-image: url(../img/contactsMap/contactsMoscow.jpg); }

.contact-card_image__moscow2 {
  background-image: url(../img/contactsMap/contactsMoscow2.jpg); }

.contact-card_image__spb {
  background-image: url(../img/contactsMap/contactsSpb.jpg); }

.contact-card_image__ekb {
  background-image: url(../img/contactsMap/contactsEkb.jpg); }

.contact-card_image__krn {
  background-image: url(../img/contactsMap/contactsKrn.jpg); }

.contact-card_image__zer {
  background-image: url(../img/contactsMap/contactsZer.jpg); }

.contact-card_image__sochi {
  background-image: url(../img/contactsMap/contactsSochi.jpg); }

.contact-card_image__yakautsk {
  background-image: url(../img/contactsMap/contactsYakutsk.jpg); }

.contact-card_image__tolyat {
  background-image: url(../img/contactsMap/contactsTolyat.jpg); }

.contact-card_image__kirgiz {
  background-image: url(../img/contactsMap/contactsKirgiz.jpg); }

.contact-card_image__kz {
  background-image: url(../img/contactsMap/contactsKz.jpg); }

.contact-card_image__by {
  background-image: url(../img/contactsMap/contactsBy.jpg); }

.contact-card_image__ua {
  background-image: url(../img/contactsMap/contactsUa.jpg); }

.contact-card_image__am {
  background-image: url(../img/contactsMap/contactsAm.jpg); }

.contact-card_image__pl {
  background-image: url(../img/contactsMap/contactsPl.jpg); }

.contacts_text a {
  color: white; }

inpit, .input, .inputTextarea {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #001441;
  color: #001441;
  box-sizing: border-box;
  font-size: 1rem;
  padding: 0.5rem;
  position: relative;
  width: 100%; }

.input:focus {
  outline: none; }

.inputWrap {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center; }

.inputTextarea::-webkit-input-placeholder {
  color: #001441; }

.inputWrap i {
  margin-right: 0.5rem;
  color: #001441; }

.contactForm input, .contactForm textarea, .contactForm button, .contactForm2 input, .contactForm2 textarea, .contactForm2 button {
  margin-top: 2rem; }

input::-webkit-input-placeholder {
  color: #001441; }

input:focus::-webkit-input-placeholder {
  color: #001441; }

.input:focus + .underline {
  transform: scale(1); }

.contactCard__submit:disabled {
  opacity: 0.3;
  color: gray; }

.contactCard__submit:disabled:hover {
  transform: none;
  border: none;
  color: #001441;
  cursor: auto; }

.underline {
  background-color: #001441;
  display: inline-block;
  height: 2px;
  bottom: 0;
  right: 0;
  position: absolute;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
  width: 100%; }

.contactForm p,
.testomForm p,
.contactForm2 p {
  margin: 0.5rem 0;
  font-weight: 300;
  color: #222; }

.contactForm #question,
.testomForm #question,
.contactForm2 #question {
  height: 20rem; }

.contactForm button,
.testomForm button,
.contactForm2 button {
  padding: 1rem 2rem; }

.contactForm_firbo {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 0 2rem;
  color: #001441;
  position: relative;
  padding-bottom: 3rem; }
  .contactForm_firbo h2 {
    margin-bottom: 0.3rem; }

.contacts_container {
  margin-top: -2rem; }

.contactCard__submit {
  height: 4rem;
  position: absolute;
  bottom: -5rem;
  width: 90%;
  font-size: 1rem;
  font-weight: 700;
  border: none;
  color: #c4dfee;
  background: #001441;
  background: -moz-linear-gradient(-45deg, #001441 47%, #410051 100%);
  background: -webkit-linear-gradient(-45deg, #001441 47%, #410051 100%);
  background: linear-gradient(135deg, #001441 47%, #410051 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001441', endColorstr='#410051',GradientType=1 );
  transition: 0.2s; }
  .contactCard__submit:hover {
    filter: hue-rotate(90deg);
    transform: scale(1.1);
    transition: 0.2s; }

.actionButton {
  color: white;
  font-weight: 700;
  transition: 0.2s;
  background: -moz-linear-gradient(-45deg, #001441 47%, #410051 100%);
  background: -webkit-linear-gradient(-45deg, #001441 47%, #410051 100%);
  background: linear-gradient(135deg, #001441 47%, #410051 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001441', endColorstr='#410051',GradientType=1 ); }
  .actionButton:hover {
    filter: hue-rotate(90deg);
    transform: scale(1.1);
    transition: 0.2s;
    cursor: pointer; }

@media screen and (max-width: 768px) {
  .headerMenu_mainLinks, .headerMenu_servicesType {
    display: none; } }
