body, html {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #001441; }

a {
  text-decoration: none;
  color: #001441; }

h1 {
  font-size: 110px;
  font-family: sans-serif;
  font-family: 'Oswald', sans-serif;
  font-weight: 900; }

.jumbo__image {
  width: 110vw;
  margin-left: -5vw;
  /*position: absolute;*/
  margin-top: -5vh; }

.jumbo_imageW {
  position: relative;
  width: 100vw; }

.jumbo_png {
  position: absolute;
  top: 5%;
  left: -5vw;
  width: 110vw;
  z-index: 3; }

.jumbo_textWrap {
  position: absolute;
  top: 30vh;
  left: 5vw;
  z-index: 2;
  mix-blend-mode: hard-light; }
  .jumbo_textWrap h1 {
    color: #3b4449; }

.headerMenu {
  position: fixed;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 10;
  padding: 0.5rem 2rem;
  color: white; }
  .headerMenu a {
    color: white; }
  .headerMenu .headerMenu_topRow {
    border-bottom: 1px solid rgba(196, 223, 238, 0.3);
    padding: 0.5rem 0;
    font-size: 0.8rem; }
    .headerMenu .headerMenu_topRow a {
      margin: 0 1rem; }
  .headerMenu .headerMenu_botRow {
    padding: 1rem 0; }
    .headerMenu .headerMenu_botRow a {
      margin-right: 1rem;
      font-weight: 500; }
  .headerMenu .headerMenu_menuLink {
    justify-content: flex-end; }

.VAcenter {
  display: flex;
  align-items: center; }

.fRight {
  float: right; }

.logoHeader {
  height: 2.5rem;
  width: auto;
  margin-right: 1rem; }

.headerMenu_bot_right {
  display: flex;
  align-items: center;
  justify-content: space-around; }
